{{#if (eqString modeColor "light")}}
  <script>
    var element= document.body; element.classList.toggle('light');
  </script>
{{/if}}
<div style="text-align: left;">
  <a href="http:\\luisfigueredo.ddns.net/"><i
      class="material-icons"
    >home</i></a>
</div>
<div class="column">
  <div class="row">
    <img width="15%" style="padding-right: 1%;" src="Angular.svg" />
    <img width="15%" style="padding-right: 1%;" src="nodejs.svg" />
    <img
      width="15%"
      style="padding-right: 1%;padding-bottom: 2%;"
      src="mysql_official_logo_icon.svg"
    />
  </div>
  <div class="row">
    <img
      width="10%"
      style="padding-right: 1%;"
      src="postgresql_src_logo_icon_170834.svg"
    />
    <img
      width="8%"
      style="padding-right: 1%;"
      src="github-icon-seeklogo.com.svg"
    />
    <img
      width="8%"
      style="padding-right: 1%;"
      src="typescript-logo-1024x576.png"
    />
  </div>
  <div class="row">
    <img width="8%" style="padding-right: 1%;" src="Linux.png" />
    <img width="15%" style="padding-right: 1%;" src="typeorm.png" />
  </div>
</div>