{{#if (eqString modeColor "light")}}
  <script>
    var element= document.body; element.classList.toggle('light');
  </script>
{{/if}}
{{#if (localeIs "sp")}}
  <div style="text-align: left;">
    <a href="http:\\luisfigueredo.ddns.net/"><i class="material-icons">home</i></a>
  </div>
{{/if}}
{{#if (localeIs "en")}}
  <div style="text-align: left;">
    <a href="http:\\luisfigueredo.ddns.net"><i class="material-icons">home</i></a>
  </div>
{{/if}}
<h1 style="text-align: center;">{{__ "demo"}}</h1>
<p style="text-align: center;">{{__ "introduction"}}</p>

<div class="column">
    <h4>{{__ "clickImage"}}</h4>
    <a href="http:\\luisfigueredo.ddns.net\demoGD"><img class="rowFoto" src="candlechart.png" width="15%"></a>
</div>
<div class="row" >
    <a style="text-align: center;" href="https://www.npmjs.com/package/ng-gd">https://www.npmjs.com/package/ng-gd</a>
</div>
