body {
    background-color: black;
    color: aliceblue;
    text-shadow: 1px 1px 2px black, 0 0 25px aliceblue, 0 0 5px black;
}


.light {
    background-color: aliceblue;
    color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px aliceblue, 0 0 5px black;
    box-shadow: 4px 4px 6px rgba(253, 252, 252, 0.4);
}

.light a {
    color: black;
}

.dark {
    background-color: black;
    color: aliceblue;
    text-shadow: 1px 1px 2px black, 0 0 25px aliceblue, 0 0 5px black;
}


.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: x-large;
    color: aliceblue;
    text-align: center;
}

.subtitulo {
    font-size: large;
    text-align: center;
}

.texto {
    font-size: medium;
    text-align: center;
}

.telefono {
    font-size: large;
}

.rowPhone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 1px;
    border: aliceblue;
    border-style: solid;
}

.rowTitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rowMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: outset;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.rowMenu:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: inset;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.rowFoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 25%;
    box-shadow: 4px 4px 6px rgb(100 100 100);
}

.columnMenu {
    display: none;
}

.rowWithoutMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.iconMenu {
    display: none;
}

.columnMenuVisible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.rowContacts{
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

@media screen and (max-width: 768px) {
    .iconMenu {
        display: block;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .columnMenu {
        display: node;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        padding-top: 10%;
    }

    .rowMenu {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        border-style: outset;
        padding-left: 1%;
        padding-right: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .rowTitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }
    .rowPhone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1px;
        border: aliceblue;
        border-style: solid;
    }
    .contacts {
        display: flexbox;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }
}



@media screen and (min-width: 768px) {
    .columnMenuVisible {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
    }

}

.imageTitulo{
    margin:10px
}

.rowPage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo {
    border-radius: 50%;
    margin-right: 25px;
    width: 40px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    cursor: pointer;
    color: red;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

